<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
            BitChat-backend
        </a>
        <ul class="nav navbar-nav">
            <li><a href="/">Acasa</a></li>
            <li><a href="/grupuri">Grupuri</a></li>
            <li><a href="/inregistrare">Inregistrare</a></li>
            <li><a href="/mesaje">Mesaje</a></li>
        </ul>
    </div>

</div>
</nav>