<!-- views/pages/cercuri.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <form method="post" action="">
            <div class="form-group">
                <label for="grup_name">Nume</label>
                <input type="text" class="form-control" name="grup_name" id="grup_name" placeholder="Grafica">
            </div>
            <button type="submit" class="btn btn-primary">Salveaza</button>
        </form>
        <h2>Grupuri</h2>
        <div class="row">
            <% grupuri.forEach(function(grup){ %>
                <div class="col-sm-4">
                    <div class="well">
                        <h3>
                            <%= grup.nume %>
                        </h3>
                    </div>
                </div>
                <%})%>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>