<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-4">
                <h4>Grupuri</h4>
                <% grupuri.forEach(function(grup){ %>
                    <div class="well">
                        <h3>
                            <%= grup.name %>
                        </h3>
                    </div>
                    <%})%>
            </div>

            <div class="col-sm-4">
                <h4>Useri</h4>
                <% useri.forEach(function(user){ %>
                    <div class="well">
                        <h3>
                            <%= user.name %>
                        </h3>
                        <h4>Email:
                            <%= user.email %>
                        </h4>
                        <h4>Phone:
                            <%=user.phone%>
                        </h4>
                    </div>
                    <%})%>
            </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>